# IDE
.idea/
.vscode/

**/.DS_Store
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/

# Env secrets
.env
core/.env

# Docker volumes
core/pgdata/
core/redisdata/

# Logs
*.log

poll_bott_project

.deploy

**/credentials.json
**/*.pem
**/*.keycore/.deploy
